<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <p id="data" placeholder="Indaiatuba, 8 de Novembro de 2019"></p>
        </div>
      </div>
    </div>

    <div class="container">
    <a class="navbar-brand" href="#">
          <img src="/img/img-01.png" alt="">
        </a>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Marcar Ponto</a></li>

          <li class="drop-down"><a href="">Comunicação Interna</a>
            <ul>
              <li><a href="#">Administrar</a></li>
              <li><a href="#">Comunicados</a></li>
            </ul>
          </li>

          <li class="drop-down"><a href="">Administração</a>
            <ul>
              <li><a href="#">Cadastro</a></li>
              <li><a href="#">Avisos</a></li>
              <li><a href="#">Gráficos</a></li>
            </ul>
          </li>

          <li class="drop-down"><a href="">Solicitações</a>
            <ul>
              <li><a href="#">Administrar</a></li>
              <li><a href="#">Criar ou Consultar</a></li>
            </ul>
          </li>

          <li class="drop-down"><a href="">Consultas e Relatórios</a>
            <ul>
              <li><a href="#">Faltas e Atrasos</a></li>
              <li><a href="#">Horas Extras</a></li>
              <li><a href="#">Justificativas</a></li>
              <li><a href="#">Espelho de Ponto</a></li>
              <li><a href="#">Solicitações</a></li>
            </ul>
          </li>

          <li><a href="#footer">Suporte</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->
<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-white">
                <div class="col-sm-6 offset-sm-3 text-center">
                    <h1 class="display">14:27 - 8 de Novembro de 2019</h1>
                    <h3 class="display">Erikson Lopes Bezerra</h3>
                    <p class="display">Programador na <b>Portabilit</b></p>
                    <br>

                    <a href="#nav-main" class="btn btn-outline-secondary btn-sm" role="button" style="background-color: #8B0000">
                        <b style="color: #fff">Marcar Ponto</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
  
  </section><!-- #intro -->
  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</div>
</html>
