<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/stylelogin.css">
</head>
<body>
<div class="form-signin">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="login"/>
      <input type="password" placeholder="senha"/>
      <p class="message"><a href="#">Login</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="login"/>
      <input type="password" placeholder="senha"/>
      <button href="/index.html">login</button>
    </form>
  </div>
</div>
</body>
</html>