{% include 'model-header.html' %}

{% block content %}
<title>Cadastro</title>    
  <div class="mx-auto" id="externa">
    <h1 id="titulo-div">Cadastro</h1>                               
    <div class = 'simple-box'>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Nome completo</label>
          <input type="name" class="form-control" id="inputEmail4" placeholder="Ex: João Manuel">
        </div>
        <div class="form-group col-md-6">
          <label for="inputRegistro">Número de Registro</label>
          <input type="text" class="form-control" id="inputRegistro" placeholder="Ex: 10598346">
        </div>
        <div class="form-group col-md-6">
          <label for="inputCargo">Cargo</label>
          <input type="name" class="form-control" id="inputCargo" placeholder="Ex: Estagiário">
        </div>
        <div class="form-group col-md-6">
          <label for="inputRegistro">Setor</label>
          <input type="text" class="form-control" id="inputRegistro" placeholder="Ex: Quality Assurance">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputEntrada">Entrada</label>
          <input type="text" class="form-control" id="inputEntrada" placeholder="9:00">
        </div>
        <div class="form-group col-md-2">
          <label for="inputEntrada">Intervalo</label>
          <input type="text" class="form-control" id="inputEntrada" placeholder="12:00">
        </div>
        <div class="form-group col-md-2">
          <label for="inputEntrada">Retorno</label>
          <input type="text" class="form-control" id="inputEntrada" placeholder="13:00">
      </div>
      <div class="form-group col-md-2">
        <label for="inputEntrada">Saída</label>
        <input type="text" class="form-control" id="inputEntrada" placeholder="17:00">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEntrada">Dias da Semana</label>
        <select id="inputDias" class="form-control">
          <option selected>Selecione...</option>
          <option>Segunda à Sexta</option>
          <option>Segunda à Sábado</option>
          <option>Personalizado</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #901010; border: none; ">Salvar</button>
    <button type="submit" class="btn btn-primary" style="background-color: #989898; border: none; ">Cancelar</button>
    </form>
  </div>
</div>
{% endblock %}

{% include 'model-footer.html' %}