{% include 'model-header.html' %}

{% block content %}
<title>Espelho de Ponto</title>
<div class="mx-auto" id="externa">
  <h1 id="titulo-div">Espelho de Ponto</h1>
  <div class='simple-box'   style="display: none;">
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputEntrada">Colaborador</label>
          <select id="inputColaborador" class="form-control">
            <option selected>Selecione...</option>
            <option>Colaborador1</option>
            <option>Colaborador2</option>
            <option>Colaborador3</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputEntrada">Período</label>
          <input type="text" class="form-control" id="inputEntrada" placeholder="ano">
          <br>
          <input type="text" class="form-control" id="inputEntrada" placeholder="mês">
        </div>
        <div class="form-group col-md-4 text-center">
          <br>
          <br>
          <button type="submit" class="btn btn-primary"
            style="background-color: #901010; border: none; ">Consultar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div class="mx-auto" id="externa" style="padding-top: 2px; margin-top: 2px;">
  <h1 id="titulo-div2">Erikson Lopes Bezerra</h1>

  {% if registros|length > 0 %}
  <div class="table-responsive">
    <table class="table table-hover table-light">
      <thead>
        <tr>
          <th>Dia</th>
          <th>Data</th>
          <th>Período</th>
          <th>Hora</th>
      </thead>
      <tbody>
        {% for r in registros %}
        <tr>
          <td>{{ r.dia }}</td>
          <td>{{ r.data }}</td>

          {% if r.tipo_registro == "entrada" %}
            <td bgcolor="#D5FFCC">{{ r.tipo_registro }}</td>

          {% elif r.tipo_registro == "intervalo" %}
            <td bgcolor="#FFFFCC">{{ r.tipo_registro }}</td>

          {% elif r.tipo_registro == "retorno" %}
            <td bgcolor="#FFFFCC">{{ r.tipo_registro }}</td>
          
          {% elif r.tipo_registro == "saida" %}
            <td bgcolor="#D5FFCC">{{ r.tipo_registro }}</td>

          {% else %}
            <td bgcolor="#FFCCCC">{{ r.tipo_registro }}</td>
          {% endif %}
            <td>{{ r.hora }}</td>
        </tr>
        {% endfor %}
        <tfoot></tfoot>
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}

{% include 'model-footer.html' %}