{% extends 'model-page.html' %}

{% block content %}
<div class="mx-auto" id="externa" style="margin-bottom: 10%; width: 40%; text-align: center;">
    <div class='simple-box' id="marca_ponto">
        <h2 id="font-hora">13:36</h2>
        <h4 id="font-dia">Sábado, 30 de Novembro de 2019</h4>
        <br>
        <h6 id="font-nome">Erikson Lopes Bezerra</h6>
        <h5 id="font-cargo">Programador</h5>
        <br>
        <button type="button" class="btn btn-primary" style="background-color: #901010; border: none; ">Marcar
            Ponto</button>

    </div>
</div>
{% endblock %}