{% include 'model-header.html' %}

{% block content %}
<title>Suporte</title>
<div class="mx-auto" id="externa">
  <h1 id="titulo-div">Suporte</h1>
  <div class='simple-box'>
    <form action="submit" , method="POST"> {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName">Título</label>
          <input name="titulo" type="name" class="form-control" id="inputEmail4" placeholder="Ex: Bug Horário de Verão">
        </div>
        <div class="form-group col-md-6">
          <label for="inputRegistro">Tipo de Solicitação</label>
          <input name="tipo" type="text" class="form-control" id="inputRegistro" placeholder="Ex: Erro">
        </div>
        <div class="form-group col-md-12">
          <label for="exampleFormControlTextarea1">Descrição</label>
          <textarea name="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Ex: O horário do sistema está 1 hora adiantando, mas não estamos no horário de verão."></textarea>
        </div>
      </div>
      <button href="'suporte/submit'" type="submit" class="btn btn-primary"
        style="background-color: #901010; border: none; ">Enviar</button>
      <button type="" class="btn btn-primary" style="background-color: #989898; border: none; ">Cancelar</button>
    </form>
  </div>
</div>
{% endblock %}

{% include 'model-footer.html' %}